<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="fms">
            <directory>pkg/fms/Tests</directory>
        </testsuite>

        <testsuite name="mq">
            <directory>pkg/mq/Tests</directory>
        </testsuite>

        <testsuite name="stomp">
            <directory>pkg/mq-stomp/Tests</directory>
        </testsuite>

        <testsuite name="amqp-ext">
            <directory>pkg/mq-amqp-ext/Tests</directory>
        </testsuite>

        <testsuite name="bundle">
            <directory>pkg/mq-bundle/Tests</directory>
        </testsuite>

        <testsuite name="job-queue">
            <directory>pkg/job-queue/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
